body{
	margin: 0;
	padding: 0;
	border: 0;
}

/* Index */
/* Navbar Contact */
.nav-contact{
	text-align: right;
	background-color: #003779;
}

.mail-link{
	text-decoration: none;
	color: white;
}

.mail-link:hover{
	color: #FBCEB5;
	text-decoration: none;
	font-weight: 500;
}

.contact-link{
	text-decoration: none;
	color: white;
}

.contact-link:hover{
	color: #FBCEB5;
	text-decoration: none;
	font-weight: 500;
}

.nav-contact__fono, .nav-contact__dir, .nav-contact__mail{
	display: inline-block;
	margin: 8px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	color: white;
}


/* Navbar */
.navbar{
	padding-top: 50px;
}

.logo__navbar{
	width: 6vw;
	height: auto;
}

/* carrusel */
.carrusel__img1{
	max-width:100%;
	height: auto;
}

.carousel-button-promo{
	padding-left: 56vw;
}


/* Slogan */
.slogan-contenedor{
	padding: 200px 20px 80px 20px;
		color: #003778;
}

.title__slogan{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


/* Nuestras Soluciones */
.soluciones-contenedor{
	text-align: center;
	padding: 150px 0;
}

.soluciones__title{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.button-hover:hover{
	background-color: #005297;
}

.soluciones-printer, .gestion-doc, .digitalizacion, .soluciones{
	width: 40%;
	height: auto;
	margin-bottom: 20px;
}

/* Marcas */
.marcas{
	background-color: #CCE8FF;
}

.marcas__title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.logo-kyocera, .logo-xerox, .logo-konica, .logo-canon{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);
transition-property: width;
transition-duration: 2s;
}

.logo-kyocera:hover, .logo-xerox:hover, .logo-konica:hover, .logo-canon:hover {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
width: 55%;
}


/* Testimonios */
.testimonio-contenedor{
	padding: 50px 0;
}

.testimonios-title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.testimonio-cliente{
	border-radius: 50%;
}


/* Nuestros Clientes */
.clientes-contenedor{
	text-align: center;
	padding: 100px 0;
}

.clientes-title{
	font-family: 'Raleway', sans-serif;
font-weight: 700;
}

.clientes-img{
	width: 20vw;
}


/* Footer */
footer{
		background-color: #003779;
	padding: 20px;
	color: white;
}

.social-icons i{
	  text-decoration: none;
		color: white;
}

@media screen and (max-width: 600px) {
	.logo__navbar{
		width: 20vw;
		height: auto;
	}
	.nav-contact{
		text-align: left;
	}
	.logo-kyocera, .logo-xerox, .logo-konica, .logo-canon{
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	}
	.carousel-button-promo{
		padding-left: 10vw;
	}
}

@media screen and (max-width: 779px) {
	.nav-contact__fono, .nav-contact__dir, .nav-contact__mail{
		display: block;
	}
	.navbar{
		padding-top: 110px;
	}
}

.slideanim {visibility:hidden;}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

/* Section Soluciones */
.soluciones-hero{
	width: auto;
	height: 370px;
	background-image: url(../img/soluciones/soluciones.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.soluciones-title{
	width: 45%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	opacity: 1;
	background-color: rgba(40,51,51,.3);
	margin-right: 15%;
}

.soluciones-medida{
	margin: 50px 0;
	font-weight: 700;
	color: #063a76;
}


@media screen and (min-width: 500px) {
	.soluciones-title{
		width: 25%;
		margin-right: 15%;
	}
}

/* Section Quienes Somos */
.nosotros-hero{
	width: auto;
	height: 370px;
	background-image: url(../img/sobre-nosotros.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.nosotros-title{
	width: 35%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	opacity: 1;
	background-color: rgba(40,51,51,.3);
	margin-right: 10%;
}


/* Section Casos de exito */
.casos-hero{
	width: auto;
	height: 370px;
	background-image: url(../img/img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.casos-title{
	width: 35%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	opacity: 1;
	background-color: rgba(40,51,51,.3);
	margin-right: 10%;
}

/* Section Hablemos */
.fa-mug-hot{
	color: #005297;
}

/* Section Promo */

.oferta-mes{
	color: #063a76;
}

.img-promo{
	background-image: url(../img/promo/ecosys-m3655.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 320px;
}
